#selectacular-ui {
    position: fixed;
    max-width: 90%;
    font-family: sans-serif;
    font-size: 9px;
    z-index: 10000;
    background-color: rgba(50%,50%,50%,0.8);
    box-shadow: rgba(0,0,0,0.5) 0px 0px 8px;
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
}
#selectacular-ui.top {
    top: 0;
}
#selectacular-ui.left {
    left: 0;
}
#selectacular-ui.bottom {
    bottom: 0;
}
#selectacular-ui.right {
    right: 0;
}

#selectacular-path {
	overflow-x: hidden;
}
#selectacular-ui.selectacular-freeze #selectacular-path {
    overflow-x: auto;
}

#selectacular-path ol {
	display: table-row;
}
#selectacular-path li {
	display: table-cell;
	vertical-align: bottom;
}
#selectacular-path .combinator {
	font-size: 9px;
}
#selectacular-path .option {
	font-weight: normal;
	white-space: nowrap;
	padding: 2px;
	margin: 1px;
	font-size: 9px;
	line-height: 1;
	background-color: rgba(85%,85%,85%,0.7);
    border-radius: 3px;
	cursor: default;
}
#selectacular-path .select {
	background-color: white;
}
#selectacular-path .id {
	color: #a00;
}
#selectacular-path .class {
	color: #00a;
}
#selectacular-path .pseudo-class {
	color: #aa0;
}
#selectacular-path .tag {
	color: black;
}

#selectacular-expr {
    padding: 2px 1px 0 1px;
}
#selectacular-expr input {
	width: 100%;
	border: none;
	padding: 0;
	margin: 0;
	font-size: 11px;
	font-weight: bold;
	word-spacing: 0.5em;
    border-radius: 3px;
}
#selectacular-tools {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3em;
    background-color: rgba(40%,40%,40%,0.8);
    border-radius: 5px;
}
#selectacular-ui.left #selectacular-tools {
    right: -3em;
}
#selectacular-ui.right #selectacular-tools {
    left: -3em;
}
#selectacular-ui.left #selectacular-tools {
    text-align: right;
}
#selectacular-ui.right #selectacular-tools {
    text-align: left;
}
#selectacular-tools a.selectacular-tool {
    border: 1px solid #eee;
    border-radius: 5px;
    margin: 2px;
    display: block;
    color: black;
    text-decoration: none;
    padding: 1px;
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#fafafa), color-stop(0.5, #fff), color-stop(0.6, #ddd), color-stop(0.95, #FFF));
    opacity: 0.8;
}
#selectacular-tools a.selectacular-tool.disabled {
    opacity: 0.2;
}

.SELECTACULAR-HOVER {
    outline: 2px solid red !important;
}
.SELECTACULAR-SELECT {
    outline: 2px solid blue !important;
}
